* {
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Butler_Medium', sans-serif;
  background-color: #201D14;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Butler_Light';
  src: url(../fonts/Butler_Light.otf) format("otf");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Butler_Medium';
  src: url(../fonts/Butler_Medium.otf) format("otf");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Butler_Bold';
  src: url(../fonts/Butler_Bold.otf) format("otf");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

header {
  display: flex;
  justify-content: space-between;
}

header .logo {
  width: 260px;
  height: 100px;
  border-right: 1px solid #ff1a00;
  border-bottom: 1px solid #ff1a00;
  border-radius: 0 0 100px 0;
  text-align: center;
  line-height: 110px;
}

header .menu {
  position: relative;
  width: 260px;
  height: 100px;
  border-left: 1px solid #ff1a00;
  border-bottom: 1px solid #ff1a00;
  border-radius: 0 0 0 100px;
  background-color: #000;
  text-align: center;
  line-height: 100px;
}

header .menu:after,
header .menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff1a00;
  border-radius: 0 0 0 100px;
  transform: rotate(0) translate(0);
  z-index: -1;
  transition: all ease 0.5s;
}

header .menu:after {
 background: rgb(247 166 172);
 transform: rotate(0) translate(0);
}

header .menu:hover:before {
  transform: rotate(-5deg) translate(-10px);
}

header .menu:hover:after {
  transform: rotate(-12deg) translate(-20px);
}

header .burger {
  display: inline-block;
  width: 50px;
}

header .menu span {
  width: 50px;
  height: 2px;
  display: inline-block;
  float: left;
  margin: 3px 0;
  background-color: #fff;
}

.content {
  position: relative;
}

.content .img {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content img {
  position: absolute;
}

.content .front {
  width: 550px;
  height: 550px;
  object-fit: cover;
  border-radius: 50%;
  transition: all ease 1s;
}

.content .back {
  width: 700px;
  height: 700px;
  object-fit: cover;
  border-radius: 50%;
  opacity: .3;
  z-index: -1;
  transition: all ease 1s 0.2s;
}

.content .text {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
  margin-top: 180px;
}

.content .text span {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin: 0 65px 0;
  transition: all ease 0.5s;
}

.content .text span:nth-child(odd),
.content .text span:nth-child(even):hover {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.content .text span:nth-child(odd):hover {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.content .text .line {
  white-space: nowrap;
  animation: infiniteText 10s linear infinite;
  cursor: pointer;
  animation-play-state: running;
  margin-bottom: 20px;
}

@keyframes infiniteText {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(-50%);
  }
}
.content .text .line2 {
  animation-direction: reverse;
}

.content .text .line2 span {
  margin: 0 80px 0;
}

.content .text .line3 span {
  margin: 0 35px 0;
}

.content .text .line:hover {
  animation-play-state: paused;
}

.bottom {
  text-align: center
}

.bottom h4 {
  font-size: 20px;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #fff;
}

@media(max-width: 756px){
  .content .text span {
    font-size: 50px;
  }
  .content .text {
    margin-top: 200px;
  }
  
  .content .back {
    width: 400px;
    height: 400px;
  }
  
  .content .front {
    width: 500px;
    height: 500px;
  }
  
  .content .img {
    width: 400px;
  }
  
  header .menu {
    width: 160px;
  }
  
  header .logo {
    width: 200px;
    text-align: left;
}
  
}
  
  @media(max-width: 470px){
  .content .text span {
    font-size: 40px;
  }
  .content .text {
    margin-top: 250px;
  }
  
  .content .back {
    width: 300px;
    height: 300px;
  }
  
  .content .front {
    width: 400px;
    height: 400px;
  }
  
  .content .img {
    width: 400px;
  }
    
    header .burger {
      width: 10px;
    }
  
  header .menu {
    width: 140px;
  }
  
  header .logo {
    width: 140px;
    text-align: left;
}
    
.logo img {
      width: 70%;
}
    
}

    
 @media(max-width: 396px){
  .content .text span {
    font-size: 30px;
  }
  .content .text {
    margin-top: 80px;
  }
  
  .content .back {
    width: 300px;
    height: 300px;
  }
  
  .content .front {
    width: 300px;
    height: 300px;
  }
  
  .content .img {
    width: 300px;
    height: 400px;
    align-items: flex-start;
  }
    
    header .burger {
      width: 10px;
    }
  
  header .menu {
    width: 140px;
    height: 80px;
  }
  
  header .logo {
    width: 140px;
    text-align: left;
    height: 80px;
    display: flex;
    align-items: center;
}
    
    .logo img {
      width: 70%;
    }

